

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle">Listado de seguimientos en la base de datos.</h6>
          <div class="table-responsive m-t-40">      

          <table id="example23" 
            *ngIf="data"
            class="display nowrap table table-hover" 
            data-search="true"
            cellspacing="0" 
            width="100%">                 
              <thead>                          
                <tr>
                  <th>Estado</th>
                  <th>Fecha Visita</th>
                  <th>Empresa</th>
                  <th>Comentarios</th>
                </tr>
              </thead>
              <tbody *ngFor="let n of data | sortBy:false">
                <tr>
                  <td>
                    <i class="far" [ngClass]="{'fa-check' : n.realizado, 'fa-bell-o': !n.realizado}">
                        {{n.realizado ? 'Realizada' : 'Planificado'}}
                    </i>
                  </td>
                  <td>{{ n.fechaVisita }}</td>
                  <td>
                    <b>{{ n.empresa }}</b>
                  </td>
                  <td>
                      Click aqui
                  </td>
                </tr>      
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </div>
  
