

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle">Listado de seguimientos en la base de datos.</h6>
          <div class="table-responsive m-t-40">      

          <table id="example23" 
            *ngIf="data"
            class="display nowrap table table-hover" 
            data-search="true"
            cellspacing="0" 
            width="100%">                 
              <thead>                          
                <tr>
                  <th>Estado</th>
                  <th>Fecha Visita</th>
                  <th>Comercio</th>
                  <th>Empresa</th>
                  <th>Comentarios</th>
                  <th class="text-nowrap">Acciones</th>
                </tr>
              </thead>
              <tbody *ngFor="let n of data | sortBy:false">
                <tr>
                  <td>
                    <i class="far" [ngClass]="{'fa-check' : n.realizado, 'fa-bell-o': !n.seguimiento.realizado}">
                        {{n.realizado ? 'Realizado' : 'Planificado'}}
                    </i>
                  </td>
                  <td>{{ n.seguimiento.fechaVisita }}</td>
                  <td>{{ n.profile.usuario }}</td>
                  <td>
                    <b>{{ n.seguimiento.empresa }}</b>
                  </td>
                  <td>
                      No hay
                  </td>
                  <td class="text-nowrap">
                    <!-- <a href="#" data-toggle="modal" data-original-title="Editar" (click)="updateSeguimiento(n)"><i class="fa fa-pencil text-inverse m-r-10"></i></a> -->
                    <a href="#" data-toggle="button" data-original-title="Eliminar" (click)="deleteSeguimiento(n)"> <i class="fa fa-close text-danger"></i> </a>
                </td>
                </tr>      
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </div>
  
